* {
    font-family: Helvetica, sans-serif;
    }
img{
    width:400px
}
body{
    margin:50px;
}
div,.heading{
    border: 1px solid maroon;
    padding: 20px 40px;
}
.main .main-page{
    display:inline-block;
    margin: 0 auto;
    height: auto;
    width: 500px;
    border: 0.5px solid maroon;
    text-align: center;
    box-sizing: border-box;
}
.main .heading{
    text-align: center;
}
